$radius: 30px;
$padding: 10px;
$blue: #185292;
$gray: rgb(224, 224, 225);

.chatList{
  .chatPreview{
    display:flex;
    .chatInfo{
      display:block;
      padding:13px;
      .chatName{
        vertical-align: top;
      }
      .chatLastMessage{
        margin-top:3px;
        font-size:13px;
      }
    }
  }
}


.chatMessagesWrap{

  .chatMessages{
    margin:0;
    padding:0;
    list-style:none;

    .chatMessage{
      position:relative;
      margin:5px;
      transition:0.3s all;
      .chatMessageTimestamp{
        display:block;
        text-align:center;
      }
      .chatuserImage{
        width:25px;
        height:25px;
        vertical-align: bottom;
        transition:0.3s all;
      }
      .chatMessageText{
        display:inline-block;
        max-width:80%;
        padding:$padding;
        border-radius:$radius;
        margin:0 5px;
        background:grey;
      }
      &.sent{
        text-align: right;
        .chatuserImage{
          display:none;
        }
        .chatMessageText {
          text-align:left;
          background:$blue;
          color:white;
          border-radius:$radius $radius 0 $radius;
        }

      }
      &.reply{
        .chatMessageText {
          background: $gray;
          border-radius: $radius $radius $radius 0;

        }
        .chatuserImage{
          transform:translateX(-100px);
        }
      }
      &.followUp{
        margin-top:-5px;
        .chatMessageTimestamp {
          display:none;
        }
        &.sent {
          .chatMessageText {
            border-radius: $radius 0 0 $radius;
          }
        }
        &.reply {
          .chatMessageText {
            border-radius: 0 $radius $radius 0;
          }
          .chatuserImage{
            transform:translateX(0);
          }
        }

      }
    }

  }

}