html,body{
  overflow-x:hidden;
  max-width:100vw;
}
.rowMargin{
  margin-top:15px;
  margin-bottom:15px;
}
.bigText{
  font-size:25px;
}

input.underlineInput{
  display: inline-block;
  background: transparent;
  color: $blueDark;
  border-bottom: 2px solid;
  padding: 5px;
  width:210px;
  &:focus{
    background:transparent;
  }
  &::placeholder{
    color: #afafaf;
  }
}
label{
  cursor:pointer;
}
.userImage[src]{
  width:60px;
  height:60px;
  border-radius:999px;
  display:inline-block;
  object-fit: cover;
}

.oneLine{
  display:block;
  height:1.1em;
  line-height:1em;
  overflow:hidden;
}