.newUser{
  width: 100%;
  height: 100vh;
  display: -webkit-flex;
  display: flex;
  .newUserInner{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding:30px 15px;
    text-align: center;
  }
}
#imageSelectEditUser{
  position:absolute;
  visibility: hidden;
}